<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>弁ぷら　｜　カート</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=RocknRoll+One&display=swap"
		rel="stylesheet">
	<link th:href="@{/css/cart.css}" rel="stylesheet">
	<script th:src="@{/ajs/cart.js}"></script>
</head>

<body>
	<div class="content-title">
		<p><span>弁ぷら</span>カート</p>
	</div>

	<div th:each="obj,s:${dtoList}" class="container">

		<section id="cart">
			<article class="product">
				<header>
					<!--							<img th:src="'data:image/png;base64,'+${obj.image}" alt="店名">-->
					<img
						src="https://1.bp.blogspot.com/-PjZz2WJ1Zj0/VMIvCILIJzI/AAAAAAAAq2w/bmdFdi5l4Z4/s800/fish_neontetra.png">

				</header>

				<div class="content">
					<table>
						<tr>
							<td class="item-name" th:text="${obj.name}"></td>
						</tr>
						<tr>
							<td class="shop-name" th:text="${obj.shopName}"></td>
						</tr>
						<tr>
							<td class="time"
								th:text="'受け取り日時：' + ${#temporals.format(obj.pickupTime, 'yyyy年MM月dd日 HH:mm')}"></td>
						</tr>
					</table>

				</div>

				<footer class="content">
					<table>
						<tr class="total-txt">
							<td>合計：</td>
							<td class="price" th:text="${obj.price} + '円'"></td>
						</tr>
						<tr class="number-txt">
							<td>個数：</td>
							<td class="number" th:text="${obj.number} + '個'"></td>
						</tr>
					</table>
				</footer>
				<div class="btn">
					<form th:action="@{/delete}" method="post">
						<input type="hidden" name="bn" th:value="${s.index}" />
						<button type="submit" class="remove">
							<h3>キャンセル</h3>
						</button>
					</form>
					<form th:action="@{/comp}" method="post">
						<input type="hidden" name="bn" th:value="${s.index}" />
						<button type="submit" class="order">
							<h3>決済</h3>
						</button>
					</form>
				</div>

				</arti>

		</section>

	</div>

</body>

</html>