<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link th:href="@{/css/layout.css}" rel="stylesheet">
<!-- 共通化するヘッダー -->
<header>
	<div class="header">

		<nav>
			<b class="left-align">
				<img src="/image/benpura_logo.png" alt="Extra Image" class="extra-image">
			</b>

			<!--a href="/ボーデンさんのhtml名">-->
			<a href="/login">
				<img src="/image/login.png" alt="Sample Image">
				ログイン
			</a>

			<!--a href="/若松さんのhtml名">-->
			<a href="/calender">
				<img src="/image/mypage.png" alt="Sample Image">
				マイページ
			</a>

			<!--a href="/川口さんのhtml名">-->
			<a href="/cart">
				<img src="/image/cart.png" alt="Sample Image">
				カート
			</a>
		</nav>
	</div>
</header>