@charset "UTF-8";

body {
	background-color: lightgoldenrodyellow;
	/* ページ全体の背景色 */
	height: 100%;
	margin: 0;

}

#headline {
	/* ヘッドラインの背景色 */
	height: 100px;
	background-color: chartreuse;

	display: flex;
	align-items: center;
	justify-content: center;
	/* 下線を追加 */
	border-bottom: 3px solid rgb(0, 128, 0);
}

.title {
	text-align: center;
	color: red;
	font-size: 30px;
}

.subtitle{
	/* 改行＝rel */
	margin-top: 3rel;
	/* 店舗一覧の表記をまとめて中央へ */
	text-align: center;
}

h2 {
	position: relative;
	display: inline-block;
	padding: 0 65px;
	text-align: center;

/*	margin: center;*/
}

h2:before,
h2:after {
	position: absolute;
	top: calc(50% - 3px);
	width: 50px;
	height: 6px;
	content: '';
	border-top: solid 2px #000;
	border-bottom: solid 2px #000;
}

h2:before {
	left: 0;
}

h2:after {
	right: 0;
}

#content1,
#content2 {
	/* コンテンツの背景色 */
	background-color: rgb(255, 128, 0);

	/* 枠線 */
	position: relative;
	padding: 1rem 2rem calc(1rem + 10px);

	margin: 50px;

	margin-left: 20%;
	margin-right: 20%;
	/*	margin-left: 300px;*/
	/*	margin-right: 300px;*/
	/*	align-items: center;*/

}

/* 枠をずらしている処理 */
#content1:before,
#content2:before {
	position: absolute;
	top: -7px;
	left: -7px;
	width: 100%;
	height: 100%;
	content: '';
	border: 4px solid #000;
}

.shopName {
	font-size: 30px;
	margin-left: 50%;

	/* 文字に白縁をいれる */
	color: #000;
	-webkit-text-stroke: 1px #FFF;
	text-stroke: 1px #FFF;
}

.shopAddress {
	font-size: 18px;
	margin-left:60%;
}

a {
	font-size: 18px;
	margin-left: 75%;
}