@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=RocknRoll+One&display=swap');

* {
    box-sizing: border-box;
}
.empty{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	background-color:rgba(166,255,128,0.7);
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    margin:auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.empty p{
	font-family: 'RocknRoll One', sans-serif;
	font-size: 1.2rem;
	color: red;
	
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-image: url(../image/背景のたまごちゃん.png);
    background-size: cover;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.content-title {
    text-align: center;
    margin: 20px 0;
}

.content-title p {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#cart {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgba(166,255,128,0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product header img {
    width: 100px;
    height: auto;
}

.content {
    flex: 1;
    padding: 0 20px;
}

.item-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.shop-name {
    font-size: 1.2rem;
}

.time {
    font-size: 1.1rem;
    color: #888;
}

footer.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer.content table {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.5rem;
    text-align: right;
}

.btn {
    display: flex;
    flex-direction: column;
}

.remove {
    margin-top: 10px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(128, 0, 0);
    border-radius: 7px;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

.order {
    margin-top: 10px;
    background-color: rgb(0, 255, 64);
    border: 1px solid rgb(0, 128, 0);
    border-radius: 7px;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
}

.remove h3 {
    margin: 0;
    font-size: 16px;
}

.order h3 {
    margin: 0;
    font-size: 16px;
}

.remove:hover {
    background-color: rgb(217, 17, 17);
}

.order:hover {
    background-color: rgb(0, 255, 128);
}
.return {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}
.return a{
	
	background-color: #8bc34a; /* 黄緑 */
    border: none;
    color: white;
    padding: 1.2rem 3.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.return a:hover {
	background-color: #7cb342; /* 黄緑の暗い色 */
	transform: translateY(-2px);
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 30%), 0 0 5px rgb(0 0 0 / 30%);
}
@media (max-width: 100%) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    footer.content {
        align-items: flex-start;
    }
}
