@charset "UTF-8";

header {
	position: sticky;
	top: 0;
	right: 0;
	background-color: rgb(128, 255, 128);
	padding: 10px;
	margin: -2.5%;
	/*余白を消すためにmarginマイナス設定*/
	z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between; /* 全体を左右に分ける */
    align-items: center;
    gap: 10px; /* アイテム間のスペース（オプション） */
    padding: 5px; /* ナビゲーション内にパディングを追加（オプション） */
}

nav a {
    display: flex;
    align-items: center;
    color: black;
}

nav img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}

nav .left-align {
    margin-right: auto;
}

nav .extra-image {
    width: auto;
    height: 4.5rem;
    margin-right: 10px;
    padding-left: 7%;
}

nav b {
    display: flex;
    align-items: center;
    color: black;
    font-size: 25px;
}
