@charset "UTF-8";

body {
	background-color: lightgoldenrodyellow;
	/* ページ全体の背景色 */
	height: 100%;
	margin: 0;

	background-image: url('../image/背景のたまごちゃん.png');
	background-size: cover;
	/* 画像を画面全体に表示 */
	background-position: center;
	/* 画像を中央に配置 */
	background-repeat: no-repeat;
	/* 画像を繰り返し表示しない */

}

#headline {
	/* ヘッドラインの背景色 */
	height: 100px;
	background-color: chartreuse;

	display: flex;
	align-items: center;
	justify-content: center;
	/* 下線を追加 */
	border-bottom: 3px solid rgb(0, 128, 0);
}

.title {
	text-align: center;
	color: red;
	font-size: 30px;
}

.subtitle {
	/* 改行＝rel */
	margin-top: 3rel;
	/* 店舗一覧の表記をまとめて中央へ */
	text-align: center;
	/* 文字間を広げる */
	letter-spacing: 0.5em;

	font-size: 20px;
}

h2 {
	position: relative;
	display: inline-block;
	padding: 0 65px;
	text-align: center;

	/*	margin: center;*/
}

/* 両側に二重線を挿入 */
h2:before,
h2:after {
	position: absolute;
	top: calc(50% - 3px);
	width: 50px;
	height: 6px;
	content: '';
	border-top: solid 2px #000;
	border-bottom: solid 2px #000;
}

h2:before {
	left: 0;
}

h2:after {
	right: 0;
}

/* 最初の一文字を大きくする */
h2:first-letter {
	font-size: 150%;
	color: #eb6100;
}

#content1,
#content2 {
	/* 写真を枠内に入れる処理 */
	display: flex;
	align-items: center;
	padding: 20px;

	/* コンテンツの背景色 */
	background-color: rgb(255, 128, 0);

	/* 枠線 */
	position: relative;
	padding: 1rem 2rem calc(1rem + 10px);

	margin: 50px;

	margin-left: 20%;
	margin-right: 20%;
	/*	margin-left: 300px;*/
	/*	margin-right: 300px;*/
	/*	align-items: center;*/

}

/* 枠をずらしている処理 */
#content1:before,
#content2:before {
	position: absolute;
	top: -7px;
	left: -7px;
	width: 100%;
	height: 100%;
	content: '';
	border: 4px solid #000;
}

/* アニメーション*/
#content1,
#content2 {
	/* 「s」がかかる時間 */
	animation: slideIn 3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(180px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
	}

	40%,
	100% {
		opacity: 1;
	}
}

img {
	/* 写真の幅を30%に設定 */
	width: 80%;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 3%;
	/* 写真とテキストの間に余白を設定 */
}

.text {
	display: flex;
	flex-direction: column;
	/* テキスト列の間隔を均等に配置 */
	/*	justify-content: space-between;*/
	width: 100%;
	/* テキストの幅を70%に設定 */
}

.shopName {
	font-size: 40px;
	margin-left: 10%;
	margin-top: 8%;
	font-family: sans-serif;

	/* 文字に影を入れ斜めにする */
	font-style: italic;
	letter-spacing: .1em;
	color: #fff;
	text-shadow: -4px 3px 0 #fa4141, -8px 6px 0 #000;

	/*	文字に白縁をいれる */
	/*	color: #000;*/
	/*	-webkit-text-stroke: 1px #FFF;*/
	/*	text-stroke: 1px #FFF;*/
}

.shopAddress {
	font-size: 25px;
	margin-left: 25%;
	margin-top: 1%;
	font-family: sans-serif;

	/* 文字に影を入れ斜めにする */
	font-style: italic;
	letter-spacing: .1em;
	color: #fff;
	text-shadow: -4px 3px 0 rgb(0, 64, 0), -8px 6px 0 rgb(255, 128, 64);
}


@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

/*html {*/
.btn {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	width: 60%;
	/*	padding-left: 80%;*/
	text-align: center;
}

.btn,
a.btn,
button.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	/** 枠のサイズ変更 **/
	padding: 1rem 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

/*その他と主な共通部分は省略*/
a.btn-tag {
	color: #fff;
	border-bottom: 5px solid #db9014;
	background: #f39800;
}

a.btn-tag:before {
	border-right: 2px solid rgba(255, 255, 255, .5);
}

a.btn-tag:hover {
	margin-top: 3px;
	border-bottom: 2px solid #db9014;
	background: #ffa50e;
}



.Information {
	text-align: center;
	font-size: 25px;
	margin-left: 8%;
	margin-top: 3%;
	margin-bottom: 3%;
	/*	transform: scale(0, 1);*/
	display: inline-block;

	position: relative;
	padding-bottom: -10%;
	text-decoration: none;
	transition: color .3s;
}

/* アニメーション */
.Information::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	/* 線の長さはここで調整する */
	width: 100%;
	height: 4px;
	background-color: #4c7aaf;
	transition: transform .3s;
}

@media (hover) {
	.Information:hover {
		color: #4c7aaf;
	}

	.Information:hover::after {
		transform: scaleX(1);
		/* 0→1でX軸方向に100%変形 */
		transform-origin: bottom left;
	}
}

/*.btn {*/
/*	color: blue;*/
/*	padding-bottom: 5px;*/
/*	position: relative;*/
/*			::afterにabsoluteをかけるので設定*/
/*		display: inline-block;*/
/*}*/

/*.button:after {*/
/*	content: '';*/
/*		 コンテンツを追加 */
/*	width: 100%;*/
/*		 線の幅 */
/*	height: 1px;*/
/*		 線の高さ */
/*	background-color: blue;*/
/*		 線の色 */
/*	position: absolute;*/
/*		 position: relative;からの線の絶対位置 */
/*	bottom: 0;*/
/*		 線の位置 */
/*	left: 0;*/
/*		 線の位置 */
/*		transform: scale(0, 1);*/
/*	transform: scaleX(0);*/
/*		 線のx軸の長さを0 */
/*	transition: .5s;*/
/*		 要素の変形する時間*/
/*	transform-origin: left top;*/
/*		 要素の座標の原点を設定*/
/*}*/

/* 追記 */
/*.button:hover:after {*/
/*	transform: scale(1, 1);*/
/*	 線がテキストの幅に合わせて伸びる */
/*}*/

/* Scrollの表示 */
.scroll {
	display: inline-block;
	padding-top: 70px;
	/*	position: relative;*/
	position: fixed;

	font-size: 18px;
	/*	margin-left: 90%;*/
	/*	margin-top: -5%;*/
	/*	margin-bottom: -5%;*/
	top: 50%;
	right: 10%;
}

.scroll::before {
	animation: scroll 3.5s infinite;
	border: solid #000;
	border-width: 0 0 1px 1px;
	content: "";
	display: inline-block;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	transform: rotate(-45deg);
	width: 20px;
	height: 20px;
}

@keyframes scroll {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}

	80% {
		transform: rotate(-45deg) translate(-30px, 30px);
	}

	0%,
	80%,
	100% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}
}