<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/shopList.css}">
	<title>店舗の選択画面</title>
</head>

<body>
	<div id="headline">
		<!--		<img class="benpuraimg" src="../image/benpuraのロゴ.png";/>-->
		<!--		<p class="title">ここにロゴとマイページを挿入</p>-->
		<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{commons/layout}">
	</div>

	<div class="subtitle">
		<!--		<h2><span th:text="${holidays}">曜日営業の店舗一覧</span></h2>-->
		<h2>営業中の店舗一覧</h2>
		<ul>
			<li th:each="shop : ${openShops}">
				<a th:href="@{/shop-details(id=${shop.id})}" th:text="${shop.shopName}"></a>
			</li>
		</ul>

	</div>

	<div id="content1" th:each="shop : ${shopLists}">
		<br>
		<!--		target="_blank"は別タブでリンク開く-->
		<a th:href="@{/cookCategory(shopName=${shop.shopName})}" target="_blank">
			<img class="shopimg" th:src="'data:image/png;base64,'+${shop.image}" alt="picture" />
		</a>

		<div class="text">
			<h1 class="shopName" th:text="${shop.shopName}"></h1>
			<p class="shopAddress" th:text="${shop.shopAddress}"></p>

			<style>
				.example {
					display: flex;
				}
			</style>
			<div class="example">
				<a th:href="@{/cookCategory(shopName=${shop.shopName})}" class="btn btn-tag"><i class="fas fa-shopping-cart"></i>注文はこちら</a>
<!--				<a class="Information" href="/shopInformation">店舗情報を見る</a>-->

<a class="Information" th:href="@{/shopInformation(id=${shop.id})}">店舗情報を見る</a>
		
	</div>
		</div>
	</div>

<!--	<div id="content2" th:each="shop2 : ${shopLists2}">-->
<!--		<br>-->
<!--		<img class="shopimg" th:src="'data:image/png;base64,'+${image[1]}" alt="oishii"></img>-->
<!--		<div class="text">-->
<!--			<h1 class="shopName" th:text="${shop2.shopName}"></h1>-->
<!--			<p class="shopAddress" th:text="${shop2.shopAddress}"></p>-->
<!--			<style>-->
<!--				.example {-->
<!--					display: flex;-->
<!--				}-->
<!--			</style>-->
<!--			<div class="example">-->
<!--				<a href="@{/}" class="btn btn-tag"><i class="fas fa-shopping-cart"></i>注文はこちら</a>-->
<!--				<a class="Information" href="/shopInformation">店舗情報を見る</a>-->
<!--			</div>-->
<!--		</div>-->


		<div class="scroll">
			<span class="txt">Scroll</span>
		</div>

</body>

</html>