<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/shopList.css}">
	<title>店舗の選択画面</title>
</head>

<body>
	<div id="headline">
		<p class="title">ここにロゴとマイページを挿入</p>
	</div>

	<div class="subtitle">
		<!--		<h2 style="text-align:center;">-->
		<h2>店舗一覧</h2>
	</div>

	<div id="content1">
		<br>
		<img th:src="'data:image/png;base64,'+${image[0]}" alt="Hana"></img>
		<div class="text">
			<h1 class="shopName">「Hanaのお弁当」</h1>
			<p class="shopAddress">大阪市中央区松屋町5-2</p>
			<a class="button" href="/shopInformation">店舗情報を見る</a>
	</div>
	</div>

	<div id="content2">
		<br>
		<!--		<img th:src="'data:image/jpg:base64,'+${list[1]}" alt="おいしいごはん"></img>-->
		<div class="text">
			<h1 class="shopName">「おいしいごはん」</h1>
			<p class="shopAddress">大阪市中央区難波3-1-28</p>

			<a class="button" href="/shopInformation">店舗情報を見る</a>
		</div>
		</div>
		

		<div class="scroll">
			<span class="txt">Scroll</span>
		</div>

</body>

</html>