<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/shopInformation.css}">
	<title>店舗情報</title>
</head>

<body>
	<div id="headline">
		<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{commons/layout}">
	</div>

	<div>
		<h2><span><i class="fas fa-star">★</i></span>店舗情報</h2>
		<div class="scroll">
			<span class="txt">Scroll</span>
		</div>
	</div>

	<div id="main" th:each="shop : ${shopLists}">

		<div class="image">
			<a href="@{/cookCategory}" target="_blank">
				<img th:src="'data:image/png;base64,'+${shop.image}" alt="picture"></a>
		</div>

		<h1 class="shopName"><span th:text="${shop.shopName}">name</span></h1>

		<p class="item"><span>01</span>住所</p>
		<p class="shopAddress" th:text="${shop.shopAddress}"></p>

		<div style="text-align:center;">
			<iframe class="map"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205.07688535431905!2d135.51154982254914!3d34.67414000861527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e739309cfb1d%3A0x30258e996ee943bd!2sHigawari-bento%20Hana!5e0!3m2!1sja!2sus!4v1723166032148!5m2!1sja!2sus"
				width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

		<p class="item"><span>02</span>営業時間</p>
		<p class="shopHour" th:text="${shop.shopHour}"></p>

		<p class="item"><span>03</span>定休日</p>
		<p class="holiday" th:text="${shop.holiday}"></p>

		<p class="item"><span>04</span>連絡先</p>
		<!--		<a class="shopTel" href="tel:/012011222">671828288</a>-->
		<a class="shopTel" href="/shopList" th:text="${shop.shopTel}"></a>
		<!--		<p class="shopTel" th:text="${shop.shopTel}"></p>-->
	</div>

	<div>
		<!--		<button class="fixed_btn">ボタン</button>-->
		<a th:href="@{/cookCategory}" class="btn" >注文はこちら</a>
	</div>



</body>

</html>